<div class="advanced-player">
  <div class="song-title"></div>
  <div class="progress-duration-bar">
    <input type="range" value="0" min="0" max="100" step="1" class="progress-duration">
  </div>
  <div class="advanced-player-info-controls">
    <div class="advanced-player-duration">
      <span class="duration-current"></span>
      <span class="duration-total"></span>
    </div>
    <div class="advanced-player-controls">
      <button class="advanced-play-prev player-icon"></button>
      <button class="advanced-play player-icon"></button>
      <button class="advanced-play-next player-icon"></button>
    </div>
    <div class="progress-volume-bar">
      <div class="volume"></div>
      <input type="range" value="50" min="0" max="100" step="1" class="progress-volume">
    </div>
  </div>
  <ul class="play-list"></ul>
</div>
