<div class="settings">
  <div class="toggle-language">
    <div class="lang-name">EN</div>
    <div class="toggle language">
      <input id="lang" type="checkbox"/>
      <label class="toggle-on-off" for="lang"></label>
    </div>
    <div class="lang-name">RU</div>
  </div>
  <div class="settings-field">
    <div class="settings-title">Photo source:</div>
    <div class="setting-buttons">
      <div class="radio">
        <input id="radio-1" name="photoSrc" type="radio" checked>
        <label for="radio-1" class="radio-label">Github</label>
      </div>
      <div class="radio">
        <input id="radio-2" name="photoSrc" type="radio">
        <label for="radio-2" class="radio-label">Unsplash API</label>
      </div>
      <div class="radio">
        <input id="radio-3" name="photoSrc" type="radio">
        <label for="radio-3" class="radio-label">Flickr API</label>
      </div>
    </div>
  </div>

  <div class="settings-field">
    <div class="settings-title">Time:</div>
    <div class="toggle language">
      <input id="settime" type="checkbox"/>
      <label class="toggle-on-off" for="settime"></label>
    </div>
  </div>
 <div class="settings-field">
    <div class="settings-title">Date:</div>
    <div class="toggle language">
      <input id="setdate" type="checkbox"/>
      <label class="toggle-on-off" for="setdate"></label>
    </div>
  </div>
 <div class="settings-field">
    <div class="settings-title">Greetings:</div>
    <div class="toggle language">
      <input id="setgreetings" type="checkbox"/>
      <label class="toggle-on-off" for="setgreetings"></label>
    </div>
  </div>
 <div class="settings-field">
    <div class="settings-title">Quotes:</div>
    <div class="toggle language">
      <input id="setquotes" type="checkbox"/>
      <label class="toggle-on-off" for="setquotes"></label>
    </div>
  </div>

  <div class="settings-field">
    <div class="settings-title">Weather:</div>
    <div class="toggle language">
      <input id="setweather" type="checkbox"/>
      <label class="toggle-on-off" for="setweather"></label>
    </div>
  </div>
 <div class="settings-field">
    <div class="settings-title">Audio:</div>
    <div class="toggle language">
      <input id="setaudio" type="checkbox"/>
      <label class="toggle-on-off" for="setaudio"></label>
    </div>
  </div>
<button class="settings-save">Save</button>

</div>
